:root {
  --background-color: #242526;
  --font-color: #fff;
  --highlight-color: orange;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Roboto+Slab:wght@100&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Roboto Mono", monospace;
  color: var(--font-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}

nav > ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0.5rem;
}

section {
  max-width: 1200px;
  padding: 2.5rem;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

h3 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  color: var(--highlight-color);
}
span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 100;
}

.logo {
  max-width: 120px;
  height: auto;
}

.hero {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.hero > div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.heading-text-container > h1 {
  color: var(--font-color);
  font-size: 5rem;
  overflow: hidden;
  border-right: 0.1em solid var(--highlight-color);
  letter-spacing: 0.15em;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0 auto;
  animation: typing 2.5s steps(40, end), cursor 0.75s step-end infinite;
}

.heading-text-container > h2 {
  color: orange;
  opacity: 0;
  animation: opacity 0.5s ease;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.about-text {
  font-weight: 100;
}

.skills .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-gap: 10px;
  font-size: 10em;
  max-height: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--highlight-color);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
