:root {
  --background-color: #242526;
  --font-color: #fff;
  --highlight-color: orange;
  --fig-caption-color: #001219;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Roboto+Slab:wght@100&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: "Roboto Mono", monospace;
  color: var(--font-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
}

nav > ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0.5rem;
}

section {
  max-width: 1200px;
  padding: 2.5rem;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

h3 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  color: var(--highlight-color);
}
span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 100;
}

figure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  border: 3px solid var(--highlight-color);
  margin: 0;
  padding: 0;
}

img {
  grid-column: 1/4;
  grid-row: 1/4;
  width: 100%; /* simple hack to preserve normal 'width' of the image in figure element */
}

a {
  text-decoration: none;
}

a:visited {
  color: #ccc;
}
figcaption {
  opacity: 0.7;
  background-color: var(--fig-caption-color);
  color: var(--font-color);
  padding: 1rem;
  grid-column: 1/4;
  grid-row: 3/4;
}

.logo {
  max-width: 120px;
  height: auto;
}

.hero {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.hero > div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.heading-text-container > h1 {
  color: var(--font-color);
  font-size: 5rem;
  overflow: hidden;
  border-right: 0.1em solid var(--highlight-color);
  letter-spacing: 0.15em;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0 auto;
  animation: typing 2.5s steps(40, end), cursor 0.75s step-end infinite;
}

.heading-text-container > h2 {
  color: var(--highlight-color);
  opacity: 0;
  animation: opacity 0.5s ease;
  animation-delay: 2.7s;
  animation-fill-mode: forwards;
}

.about-text {
  font-weight: 100;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 15px;
  font-size: 12rem;
}

.skill {
  flex-basis: 10%;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4%;
}

.icon-container {
  font-size: 1.5rem;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.contact-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.contact-icons > span,
.contact-icons > i {
  font-size: 5rem;
  cursor: pointer;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--highlight-color);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
